body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.row-hover:hover {
  background-color: #e0f7fa;
  cursor: pointer;
}

.arrow-up,
.arrow-down {
  color: #d3d3d3;
  margin-left: 5px;
}

.arrow-up.active,
.arrow-down.active {
  color: white;
}

.table-container {
  max-height: 85vh;
}

.table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.table-cell {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-cell-right {
  text-align: right;
}

.table-header {
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ff7966;
  color: white;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.table-header-right {
  text-align: right;
}

.sensor-table-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.header-box {
  background-color: white;
  padding: 9px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.header-title {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff4942, #ff7966);
  padding: 20px 0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 1.2;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.table-paper {
  flex-grow: 1;
  width: 100%;
  margin-top: 0px;
}

.pagination-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}